DEVICE=cpu
USE_LLM=false
USE_CLIP_VALIDATOR=true
CLIP_ALWAYS_VALIDATE=true
CONFIDENCE_THRESHOLD=0.65
ENTROPY_THRESHOLD=0.55
ENCODER_NAME=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
LLM_NAME=Qwen/Qwen2.5-3B-Instruct
ASR_MODEL_NAME=facebook/mms-1b-all
CLIP_MODEL_NAME=openai/clip-vit-base-patch32
CORS_ORIGINS=*
