fastapi==0.115.0
uvicorn[standard]==0.32.0
python-multipart==0.0.12
pydantic==2.9.0

sentence-transformers==3.2.0
faiss-cpu==1.9.0
transformers==4.45.0
accelerate==1.0.0
torch==2.4.0

tensorflow==2.17.0
pillow==10.4.0

torchaudio==2.4.0
scipy==1.14.0
soundfile==0.12.1

pdfplumber==0.11.0
numpy==1.26.4
python-dotenv==1.0.1
pytest==8.3.3
